.cardStructure {
    width: 896px;
    background-color: #09111c;
    border: solid #7D818A;
    border-radius: 25px;
    padding: 25px;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.cardStructure div {
    width: 100%;
    display: flex;
}

.cardContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.cardStructure div img {
    height: 40px;
    width: 40px;
    padding: 12px;
}

.insideCard {
    background-color: black;
    border-radius: 25px;
    margin: 25px;
    /*el auto lo centra al ancho del padre*/
    border: solid #7D818A 3px;
    margin-bottom: 0px;
    display: flex;
    height: auto;
    flex-direction: column;
    margin-top: 1px;
    padding: 10px;
}

.insideCard p {
    font-size: 16px;
    width: 100%;
    margin: 10px auto;
    padding: 15px auto;
    color: #c4c8d2;
    font-family: sans-serif;
}

.insideCard h3 {
    color: #1F3A5A;
    padding-left: 30px;
    font-size: 22px;
    margin-bottom: 2px;
}

.carousel {
    display: flex;
    overflow: hidden;
    width: 100%;
}

.group {
    display: flex;
    flex-shrink: 0;
    align-items: center;
    gap: 1em;
    animation: spin 10s infinite linear;
    padding-right: 1em;
}

.content-carousel {
    height: 145px;
    border-radius: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    color: white;
}

.buttonCart {
    background-color: #1F3A5A;
    color: white;
    font-size: 14px;
    border-radius: 10px;
    border: 3px solid #7D818A;
    height: 40px;
}

.buttonCart:hover {
    cursor: pointer;
}

.compras {
    display: flex;
    flex-direction: row;
    gap: 10px;
    align-items: center;
    margin-top: 10px;
}

.compras div select {
    cursor: pointer;
    outline: none;
}

.select {
    appearance: none;
    background-color: #1F3A5A;
    color: white;
    padding: 8px 35px 8px 15px;
    border: 3px solid #7D818A;
    border-radius: 4px;
    font-size: 14px;
    background-image: url("data:image/svg+xml;charset=UTF-8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24' fill='%2309111C'%3E%3Cpath d='M7 10l5 5 5-5z'/%3E%3C/svg%3E");
    background-repeat: no-repeat;
    background-position: right 8px center;
    border-radius: 10px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    flex-grow: 1;
    box-sizing: border-box;
    width: 750px;
}

.netflixColor{
    color: #B1060F
}

.disneyColor {
    color: #073D50;
}

.primeColor {
    color: #202E5C;
}

.hboColor {
    color: #5407C4;
}

.paramountColor {
    color: white;
}

.divisorCards {
    border: #0b45e6 1px solid;
    width: 50%;
    margin-top: 20px;
    margin-bottom: 20px;
    box-shadow: 10px -5px 20px 1px;
}

.importantContainer{
    display: flex;
    justify-content: center;
}

.importantContainer div{
    
    color: white;
    border: dashed 3px #681e1e;
    border-radius: 5%;
    background: transparent;
    backdrop-filter: blur(1.4px);
    width: 40%;
    padding: 2em;
}

.importantContainer div h3{
    color: #EF4444;
    font-size: 2em;
}

.importantContainer div ul li{
    font-size: 1.1em;
    margin-top:3px ;
    margin-bottom: 3px;
}